@import "tailwindcss";

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans-Variable.woff2");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode-VF.ttf");
  font-weight: 300 700;
  font-style: normal;
}

@theme {
  --font-general: GeneralSans, sans-serif;
  --font-inter: Inter, sans-serif;
  --font-fira-code: Fira Code, sans-serif;
}
